/* Styles for the blackjack page container */
.blackjack-page {
  background-color: #033814;
  height: 100vh;
  width: 100%;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* styles for the blackjack page header */
.blackjack-page h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* styles for the blackjack table */
.blackjack-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex-grow: 1;
  justify-content: center;
}

/* styles for the dealer and player areas */
.dealer-area {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  margin-bottom: 40px;
}

.player-area {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 20px;
  padding: 20px;
  width: 100%;
  align-items: center;
}

/* styles for the game controls section and buttons */
.game-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  margin-top: -30px;
}

.game-button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  min-width: 100px;
}

.hit-button {
  padding: 0.8rem 1.5rem;
  background-color: red;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.stand-button {
  background-color: #4caf50;
}

.other-button {
  background-color: var(--accent-primary-default);
}

.game-button:hover {
  background-color: var(--accent-primary-stronger);
}

.game-button:disabled {
  background-color: var(--accent-primary-dimmest);
  cursor: not-allowed;
  opacity: 0.7;
}

.start-button {
  padding: 0.8rem 1.5rem;
  background-color: green;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* styles for the leaderboard section */
.leaderboard-holder {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 100;

}